* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border-radius: 6px;
  border: 2px solid #fff;
}

::placeholder {
  color: #a1a1a1 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #a1a1a1 !important;
}

::-ms-input-placeholder {
  color: #a1a1a1 !important;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  color: unset;
  text-decoration: none;
  outline: none;
}

.mix-blend-mode-d {
  mix-blend-mode: difference;
}

/* custom text & background */
.text-232323 {
  color: #232323;
}

.text-caff86 {
  color: #caff86;
}

.text-ff9900 {
  color: #ff9900;
}

.text-ffd335 {
  color: #ffd335;
}

.text-169a82 {
  color: #169a82;
}

.text-a1a1a1 {
  color: #a1a1a1;
}

.bg-232323 {
  background-color: #232323;
}

.bg-caff86 {
  background-color: #caff86 !important;
}

.font-14 {
  font-size: 14px !important;
  line-height: 24px !important;
}

.font-18 {
  font-size: 18px !important;
  line-height: 32px !important;
}

.font-30 {
  font-size: 30px !important;
}

.font-40 {
  font-size: 40px !important;
}

.font-50 {
  font-size: 50px !important;
}

.font-56 {
  font-size: 56px !important;
}

/* custom component css */
.progress-active {
  background-image: linear-gradient(to bottom, #55ffe0 -38%, #caff86 135%);
}

.progress-active::after {
  content: '';
  height: 16px;
  border-left: 1px solid #caff86;
  position: absolute;
  right: 0;
  top: -4px;
}

.progress-inactive {
  background-color: #f2f2f2;
}

.progress-inactive::after {
  content: '';
  height: 16px;
  border-left: 1px solid #232323;
  position: absolute;
  right: 0;
  top: -4px;
}

.btn-sm {
  height: 40px;
}

.btn-md {
  height: 52px;
}

.btn-lg {
  height: 60px;
}

/* custom bootstrap css */
.modal {
  backdrop-filter: blur(4px);
  background-color: rgba(35, 35, 35, 0.2);
}

.custom-dialog {
  width: 424px !important;
}

.modal-content {
  background-color: #232323 !important;
}

.custom-modal-title {
  color: #fff;
  text-align: center;
  margin: 8px 0 7px !important;
}

.custom-modal-body {
  text-align: center;
  padding: 0 8px;
}

.custom-modal-footer .btn {
  width: calc(50% - 8px);
  margin: 24px 0 8px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.btn-primary {
  color: #000 !important;
  border: none !important;
  background-color: #caff86 !important;
}

.btn-secondary {
  color: #a1a1a1 !important;
  border: 1px solid #4e4e4e !important;
  background-color: #232323 !important;
}

.btn-success {
  color: #caff86 !important;
  backdrop-filter: blur(5px);
  border: solid 1px #caff86 !important;
  background-color: #232323 !important;
}

.btn-success:disabled {
  color: #a1a1a1 !important;
  font-weight: 600;
  border: none !important;
  backdrop-filter: blur(5px) !important;
  background-color: #5e5e5e !important;
}

.btn:hover {
  border: 1px solid #000 !important;
}

.form-label,
.form-check-label {
  color: #fff;
}

.form-control {
  height: 40px !important;
  border-radius: 4px !important;
  border: solid 1px #000 !important;
  background-color: #000 !important;
  color: #a1a1a1 !important;
}

.form-select {
  color: #a1a1a1 !important;
  background-image: url('/assets/image/icon_select_line.svg'), url('/assets/image/icon_arrow_down.svg') !important;
  background-size: 28px 28px, 30px 30px !important;
  background-position: right 20px top 5px, right top 8px !important;
  cursor: pointer;
}

.form-check,
.form-check-input,
.form-check-label {
  cursor: pointer;
}

.form-check-input:checked {
  background-color: #caff86 !important;
  border-color: #caff86 !important;
}

.h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-bottom: 0 !important;
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1220px !important;
  }
}
